In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('dataset_3363_4.txt', sep=';', names=['Фамилия','Математика', 'Физика', 'Русский язык'])

In [7]:
df.head()

   Фамилия  Математика  Физика  Русский язык
0  Larkins          68      46            73
1   Parson          52      38            39
2     Keat          82      64            76
3     Gill          82      62            28
4    Simon          50      36            67

In [18]:
df['Математика'].mean()

63.577319587628864

In [9]:
df['Физика'].mean()

64.0618556701031

In [11]:
df['Русский язык'].mean()

62.510309278350519

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 4 columns):
Фамилия         194 non-null object
Математика      194 non-null int64
Физика          194 non-null int64
Русский язык    194 non-null int64
dtypes: int64(3), object(1)
memory usage: 6.1+ KB

In [20]:
df['Среднее ученика'] = (df['Математика'] + df['Физика'] + df['Русский язык']) / 3

In [24]:
mean_learn = df['Среднее ученика']
print(mean_learn)

0      62.333333
1      43.000000
2      74.000000
3      57.333333
4      51.000000
5      55.000000
6      42.333333
7      41.000000
8      55.333333
9      37.666667
10     69.000000
11     57.000000
12     85.000000
13     64.000000
14     47.333333
15     57.666667
16     67.333333
17     45.666667
18     73.333333
19     82.333333
20     63.333333
21     72.000000
22     76.000000
23     73.000000
24     38.000000
25     73.333333
26     56.000000
27     61.666667
28     72.000000
29     62.000000
         ...
164    49.666667
165    52.333333
166    54.666667
167    80.666667
168    60.666667
169    73.666667
170    49.333333
171    73.333333
172    60.333333
173    69.333333
174    60.666667
175    42.666667
176    56.333333
177    80.000000
178    61.333333
179    40.333333
180    54.333333
181    66.000000
182    70.666667
183    51.666667
184    74.333333
185    56.666667
186    63.333333
187    80.666667
188    58.666667
189    54.333333
190    72.666667
191    73.000000
192    84.333333
193    70.666667
Name: Среднее ученика, Length: 194, dtype: float64

In [31]:
with open('result.txt', 'w') as file:
    for value in mean_learn:
        file.write(str(value)+'\n')